html {
  background: #f2f1f4;
  color: #19171c;
  font-family: 'Nunito', sans-serif;
}

p{
  text-align: left;
  color: black;
  font-size: 13px;
}

h1{
  padding-left: 5px;
}

.accordion{
  width: 50%;
}

#section1, #section3{
  background-color: #CEE0DC;
}

#section2{
  background-color: #B9CFD4;
}

.title{
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  padding: 10px;
}

.description{
  display: none;
  visibility: hidden;
}

.active + .description{
  display: block;
  visibility: visible;
  padding-left: 40px;
}

.active > .icon-collapse{
  display: block;
  visibility: visible;
  }

.active > .icon-expand{
  display: none;
  visibility: hidden;
  }

.icon-expand {
  float: left;
  align-items: center;
  margin-right: 10px;
  z-index: +1;

}

.icon-collapse {
  display: none;
  float: left;
  align-items: center;
  margin-right: 10px;
  z-index: +1;
  text-align: center;
}




}
